import os
from telegram import InlineKeyboardButton, InlineKeyboardMarkup
from telegram.ext import Updater, CommandHandler, CallbackQueryHandler

TOKEN = os.environ['TOKEN']

def start(update, context):
    keyboard = [[InlineKeyboardButton("🇲🇾 Malaysia", callback_data='my')]]
    reply_markup = InlineKeyboardMarkup(keyboard)
    update.message.reply_text('🔥 SETTINGAN AIM BRUTAL BY YANZ 🔥\n\nPilih server:', reply_markup=reply_markup)

def button_handler(update, context):
    query = update.callback_query
    if query.data == 'my':
        text = "🔥 SENSI AIM LOCK KEPALA 🔥\n\nGeneral: 100\nRed Dot: 95\n2x: 90\n4x: 85\nAWM: 60\n\nBy Yanz"
        query.edit_message_text(text=text)

print("Bot Yanz dah ON!")
updater = Updater(TOKEN, use_context=True)
updater.dispatcher.add_handler(CommandHandler('start', start))
updater.dispatcher.add_handler(CallbackQueryHandler(button_handler))
updater.start_polling()